<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>Create Car Page</h2> 		
	</div>

	<a href="/home">Back</a> |
	<a href="/logout">Logout</a><br>
	
	<form method="post">
		<table>
			<tr>
				<td>Model: </td>
				<td><input type="text"  name="id" ></td>
			</tr>
			<tr>
				<td>Carname: </td>
				<td><input type="text" name="carname" ></td>
			</tr>
			<tr>
				<td>Price: </td>
				<td><input type="text" name="price" ></td>
			</tr>
			<tr>
				<td>Type: </td>
				<td><select name="type" id="type" >
 					<option disabled hidden >Select Position</option>
  					<option value="Car">Car</option>
  					<option value="Microbus">Microbus</option>
  					<option value="Pickup">Pickup</option>
					</select></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" name="" value="Update"> 
				</td>
			</tr>
		</table>
	</form>


</body>
</html>