<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<body>
	<h2>Login Page</h2>

	<form method="post">
		Username: <input type="text" name="uname"><br>
		Password: <input type="password" name="password"><br>
		Type: <select name="type" id="type" >
 					<option disabled hidden >Select Position</option>
  					<option value="Admin">Admin</option>
  					<option value="Customer">Member</option>
					</select>
		<input type="submit" name="" value="Submit">
		<a href="/login/registration">registration</a> 

	</form>
</body>
</html>